.header {
    background-color: #1f2937;
    
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header p, .placeholder, a {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.logo {
    font-size: 24px;
    color: #f9faf8;
}