body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    
}

.section-1 {
    background-color: #1f2937;
    padding: 16px 58px 100px 200px;
    margin: -10px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}



h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title p, .placeholder, a{
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;  
    justify-content: space-between;
    gap: 16px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title div:first-child {
    width: 300px;
}

.placeholder {
    width: 500px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px 12px;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    width: 150px;
    flex-shrink: 0;

}

/* Section 2 */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;

}

.cards {
    display: flex;
    justify-content: center;
    width: 300px;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: grey;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
}


/* Section 3*/

.section-3 {
    background-color: #E5E7EB;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    margin-bottom: 0;
}

.author {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-top: 0%;

}

/* Section 4*/

.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    
}

.action{
    background-color: #3882f6;
    width: 800px;
    padding: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}

.action button {
    border: solid #E5E7EB;
    padding: 10px 16px;
    width: 200px;

}

.action-text p{
    margin: 0;
}

.action-text p:nth-child(2){
    color: lightgrey;
}


footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    
}